body {
    background-image: url('https://cdn.pixabay.com/photo/2018/02/12/09/39/background-3147808_960_720.jpg');
      background-repeat: repeat;
      background-size: cover;
      font-family:'K2D', sans-serif;
    }
      
    header{
        background-color: black;
        color: white;
        height: 70px;
        padding: 10px;
      }

    footer {
        background-color: black;
        color: white;
        height: 40px;
        padding: 10px;
        text-align: center;
    }
      
    .mainpage{
      width: 1024px; 
      margin: 0 auto;
    }
    .headname1 {
      color: rgb(106, 181, 231);
      font-size: 30px;
  }
  
  .headname2 {
    color: rgb(255, 255, 255);
  }

  .graphic{
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
  }