body {
    background-image: url('https://img.pikbest.com/backgrounds/20200623/blue-starry-sky-technology-turntable-graphic-texture-background-poster_2815209.jpg!c1024wm0');
      background-repeat: repeat;
      background-size: cover;
      font-family:'K2D', sans-serif;
    }
      
    header{
        background-color: black;
        color: white;
        height: 70px;
        padding: 10px;
      }

    footer {
        background-color: black;
        color: white;
        height: 40px;
        padding: 10px;
        text-align: center;
    }
      
    .mainpage{
      width: 1024px; 
      margin: 0 auto;
    }
